* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.weather-card {
    position: relative;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.weather-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/weathercard.jpg') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

.weather-card > * {
    position: relative;
    z-index: 1;
}


.weather-image {
    width: 80%;
    max-width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

input[type="text"] {
    padding: 12px;
    margin: 10px 0;
    width: calc(100% - 24px);
    border: 2px solid #f7d569;
    border-radius: 8px;
    font-size: 16px;
    color: #0f111d;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]::placeholder {
    color: #888;
}

input[type="text"]:focus {
    border-color: #f7c25a;
    outline: none;
    box-shadow: 0 0 5px rgba(247, 194, 90, 0.5);
}

button {
    padding: 12px;
    background-color: #f7d569;
    color: #0f111d;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #f7c25a;
}

#weather-info {
    margin-top: 20px;
    display: none;
}

#weather-info.error {
    color: #ff4d4d;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#temperature {
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
    color: #0f111d;
}

#weather-now {
    font-size: 20px;
    font-weight: 600;
    color: #0f111d;
    margin-right: 8px;
}

#description {
    font-size: 20px;
    color: #634405;
    text-transform: capitalize;
}

#wind-speed {
    font-size: 18px;
    color: #0f111d;
    margin: 10px 0;
}

#date {
    font-size: 14px;
    color: #0f111d;
}

.loading {
    font-size: 18px;
    color: #f7d569;
    font-weight: bold;
    margin: 20px 0;
}

@media (max-width: 600px) {
    .weather-card {
        width: 95%;
    }

    input[type="text"], button {
        width: 100%;
    }
}
